h1{
    color: rgb(0, 0, 0);
    font-family: 'Pixelify Sans', sans-serif;
}

img{

    width: 200px;
    border-radius: 10ch;
    border-color: gold
} 

body{
    background-image: url(pexels-steve-johnson-1143758.jpg);
    background-size: cover;
    border-top-color: rgb(226, 110, 43);
}

a{
    color: aliceblue;
    border: 100px;
} 

button{
    color: chocolate;
    padding: 8px 22px;
    border-radius: 6px;
    background: #e49604;
    transition: all 0.2s ease;

} 


